{% extends 'base.html.twig' %}

{% block title %}Liste des employées{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des employées
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                
                <th>Matricule</th>
                <th>Situation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.Nom }}</td>
                <td>{{ worker.Prenom }}</td>
                
                <td>{{ worker.ref }}</td>
                <td>{{ worker.type }}</td>
                <td>
                    <a href="{{ path('app_worker_show', {'id': worker.id}) }}">show</a>
                    <a href="{{ path('app_worker_edit', {'id': worker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>

    <a href="{{ path('app_worker_new') }}">Crée nouveaux</a>
{% endblock %}
