<div class='container'>
    {{ form_start(form) }}  

        <div class="form-group">    
            {{ form_row(form.reference, { 'label': 'Matricule' ,'attr': {'class': 'form-control'}}) }}
        </div>
            <datalist id="references-list">
                {%  for worker in workers %}
                    <option value="{{worker.ref}} ({{worker.Nom}}-{{worker.Prenom}})">
                {% endfor %}  
        </datalist>
       <div class="form-group">
            {{ form_row(form.chef, {'attr': {'class': 'form-control'}}) }}  
        </div>    
        <div class="form-group">
            {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}   
        </div>    

        <div class="form-group">
            {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}   
        </div>  
        <div class="form-group">
            {{ form_row(form.Genre, {'attr': {'class': 'form-control'}}) }}          
        </div>   
        <div class="form-group">
            {{ form_row(form.poste, {'attr': {'class': 'form-control'}}) }}          
        </div>  
        <div class="form-group">
            {{ form_row(form.Signature, {'attr': {'class': 'form-control'}}) }}          
        </div>  
        <div class="form-group">
            {{ form_row(form.type,{'label': ' Situation' ,'attr': {'class': 'form-control'}}) }}   
        </div>         




        <div class="form-group row">
        <div class="col">
            {{ form_row(form.P1, { 'label': 'Element global mensuel ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p2, { 'label': 'indemnite de logement ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p3, { 'label': 'Prime de bilan mensuel ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p4, { 'label': 'Prime de service mensuel ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p5, { 'label': 'Indemnite transport mensuel ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p6, { 'label': 'Allocation familiale ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p7, { 'label': 'Prime de rendement mensuel + PRC ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p8, { 'label': 'Prime fin d annee mensuel ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p9, { 'label': 'Prime d exploitation ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p10, { 'label': 'Indemnités complémentaire provisoire ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p11, { 'label': 'Prime de manoeuvre ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p12, { 'label': 'Prime de maintenance ' ,'attr': {'class': 'form-control'}}) }}
        </div></div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p13, { 'label': 'Prime de panier ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p14, { 'label': 'Indemnité de nuit ' ,'attr': {'class': 'form-control'}}) }}
        </div></div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p15, { 'label': 'Charge fiscale additionnelle ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p16, { 'label': 'Majoration prime spécifique ' ,'attr': {'class': 'form-control'}}) }}
        </div></div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p17, { 'label': 'Augmentation PFA ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p18, { 'label': 'Indemnité de fonction ' ,'attr': {'class': 'form-control'}}) }}
        </div></div>
        <div class="form-group row">
        <div class="col">
            {{ form_row(form.p19, { 'label': 'Indemnité kilométrique forfaitaire ' ,'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.p20, { 'label': 'Autres indemnites ' ,'attr': {'class': 'form-control'}}) }}
        </div></div>

        <button class="btn btn-primary"> Ajouter </button>
    {{ form_end(form) }}

       {% block javascripts %}
        <script>
            if (document.getElementById('salary_certificate_reference')){
                document.getElementById("salary_certificate_reference")
                    .addEventListener("input", function(event){
                        if(event.inputType == "insertReplacementText" || event.inputType == null) {
                            console.log(event.target.value.slice(event.target.value.indexOf('(')+1, event.target.value.indexOf(')')));
                            const fullname = event.target.value.slice(event.target.value.indexOf('(')+1, event.target.value.indexOf(')')).split('-')
                            document.getElementById('salary_certificate_Nom').value= fullname[0]
                            document.getElementById('salary_certificate_Prenom').value= fullname[1]
                    }
                })
            }
            else{
                console.log("bye from salary");
            }
        </script>      
    {% endblock %}
</div>