<!DOCTYPE html>
<html>
  <head>
  <style>
        *{
            font-size: 5px; 
        }
        img { 
            width:60%;
            height:20px !important;
            position: relative;
            display: block;
            margin-left: 30px;
            margin-bottom: 50px;
        }
        .title-container {
            font-size: 4px;
            font-weight: 300;
            text-align: center;
            line-height: 40%;
        }
        .texte-container{
            font-size: 6px;        
        }
        .head-text span{ 
            float: left;
            font-size: 10px;
        }
        table {
            height: 40vh;
        }
    </style>
    	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  </head>
  <body id="dvContainer">

  <div class="title-container">
    <img src="{{ app.request.getSchemeAndHttpHost()}}/img/cnsft.png" alt="Mon logo">
    <p>
      DIRECTION CENTRALE DE L'EXPLOITATION DU RESEAU FERROVIAIRE TUNISIEN<br><br><br><br><br><br>
      DEPARTEMENT DE LA GESTION NORD-EST
    </p>
    </div>
    <br>
    <div class='head-text'>
        <span>
          N&deg;: {{ salary_certificate.id }}
        </span>
        <span style="margin-left: 70%">
          
          TUNIS LE : {{salary_certificate.createdAt|date('d/m/y')}} 
        </span>
    </div>
    
    
    <div class="title-container" >
    <br>
    <p >
    
      <u> <H2>ATTESTATION DE SALAIRE</H2></u>
      
    </p>
    </div>
    <div class="texte-container">
    <br> <br> 
    <p>
     {{ salary_certificate.chef }} {{ salary_certificate.chef == "le chef de division administrative et gestion" ? "du Departement nord-est" : "" }} certife que:
    </p>
    <p>
      {{ salary_certificate.worker.Genre == "H" ? "Mr" : "Mme" }} 
     <span style="text-transform:uppercase;"> {{ salary_certificate.worker.Nom }} 
      {{ salary_certificate.worker.Prenom }} </span> matricule {{salary_certificate.worker.ref}} ({{salary_certificate.worker.type}}) percoit un salaire mensuel
      brut {% set sb = salary_certificate.p20 
              + salary_certificate.p19
              + salary_certificate.p18
              + salary_certificate.p17
              + salary_certificate.p16
              + salary_certificate.p15
              + salary_certificate.p14
              + salary_certificate.p13
              + salary_certificate.p12
              + salary_certificate.p11
              + salary_certificate.p10
              + salary_certificate.p9
              + salary_certificate.p8
              + salary_certificate.p7 
              + salary_certificate.p6
              + salary_certificate.p5
              + salary_certificate.p4
              + salary_certificate.p3
              + salary_certificate.p2
              + salary_certificate.p1
      %} {{ sb | number_format(3, ',') }} ,se decomposant comme suit:
    </p>
    <table style=" width: 50%; margin: auto; "
      border="1">
      <tbody>
        {% if salary_certificate.p1 > 0 %}
        <tr>
          <td>
            Element global mensuel
          </td>
          <td>
            {{ salary_certificate.P1 | number_format(3, ',') }} 
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p2 > 0 %}
        <tr style="height: 18px;">
          <td >
            Indemnite de logement
          </td>
          <td >
            {{ salary_certificate.p2 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p3 > 0 %}
          <tr style="height: 18px;">
            <td >
              Prime de bilan mensuel
            </td>
            <td >
              {{ salary_certificate.p3 | number_format(3, ',')}}
            </td>
          </tr>
        {% endif %}  
        {% if salary_certificate.p4 > 0 %}
        <tr style="height: 18px;">
          <td >
            Prime de service mensuel
          </td>
          <td >
            {{ salary_certificate.p4 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}  
        {% if salary_certificate.p5 > 0 %}
        <tr style="height: 18px;">
          <td >
            Indemnite transport mensuel
          </td>
          <td >
            {{ salary_certificate.p5 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}  
        {% if salary_certificate.p6 > 0 %}
        <tr style="height: 18px;">
          <td >
            Allocation familiale
          </td>
          <td >
            {{ salary_certificate.p6 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p7 > 0 %}
        <tr style="height: 18px;">
          <td >
            Prime de rendement mensuel + PRC
          </td>
          <td style="texte-container">
            {{ salary_certificate.p7 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p8 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Prime fin d'annee mensuel
          </td>
          <td style="texte-container">
            {{ salary_certificate.p8 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p9 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Prime d'exploitation
          </td>
          <td style="texte-container">
            {{ salary_certificate.p9 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p10 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Indemnit&eacute;s compl&eacute;mentaire provisoire
          </td>
          <td style="texte-container">
            {{ salary_certificate.p10 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p11 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Prime de manoeuvre
          </td>
          <td style="texte-container">
            {{ salary_certificate.p11 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p12 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Prime de maintenance
          </td>
          <td style="texte-container">
            {{salary_certificate.p12 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p13 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Prime de panier
          </td>
          <td style="texte-container">
            {{ salary_certificate.p13 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p14 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Indemnit&eacute; de nuit
          </td>
          <td style="texte-container">
            {{ salary_certificate.p14 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p15 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Charge fiscale additionnelle
          </td>
          <td style="texte-container">
            {{ salary_certificate.p15 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p16 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Majoration prime sp&eacute;cifique
          </td>
          <td style="texte-container">
            {{ salary_certificate.p16 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p17 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Augmentation PFA
          </td>
          <td style="texte-container">
            {{ salary_certificate.p17 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p18 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Indemnit&eacute; de fonction
          </td>
          <td style="texte-container">
            {{ salary_certificate.p18 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p19 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Indemnit&eacute; kilom&eacute;trique forfaitaire
          </td>
          <td style="texte-container">
            {{ salary_certificate.p19 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        {% if salary_certificate.p20 > 0 %}
        <tr style="height: 18px;">
          <td style="">
            Autres indemnites
          </td>
          <td style="texte-container">
            {{ salary_certificate.p20 | number_format(3, ',')}}
          </td>
        </tr>
        {% endif %}
        <tr style="height: 18px;">
          <td style="">
            SALAIRE MENSUEL BRUT
          </td>
          <td style="texte-container">
            {% set sb = salary_certificate.p20 
              + salary_certificate.p19
              + salary_certificate.p18
              + salary_certificate.p17
              + salary_certificate.p16
              + salary_certificate.p15
              + salary_certificate.p14
              + salary_certificate.p13
              + salary_certificate.p12
              + salary_certificate.p11
              + salary_certificate.p10
              + salary_certificate.p9
              + salary_certificate.p8
              + salary_certificate.p7
              + salary_certificate.p6
              + salary_certificate.p5
              + salary_certificate.p4
              + salary_certificate.p3
              + salary_certificate.p2
              + salary_certificate.p1
            %}
            {{ sb | number_format(3, ',') }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="">
            SALAIRE ANNUEL BRUT
          </td>
          <td style="texte-container">
            {{ (sb * 12) | number_format(3, ',') }}
          </td>
        </tr>
      </tbody>
    </table>
    <p >
      <u>
        Cette attestation est delivr&eacute;e a l'interresse&eacute; sur sa
        demande pour servir et valoir ce que de droit.
      </u>
    </p>
    <p style="text-align: center;" class="texte-container">
      <u>
   <span style="text-transform:uppercase;"> {{ salary_certificate.chef }} </span>     </u>
    </p>
    <p style="text-align: center;">
      <u>
       <span style="text-transform:uppercase;"> {{salary_certificate.signer}} </span>
      </u>
    </p>
    </div>
    <div style="position: absolute;bottom:0; font-size: 8px">
     Créé par : {{ salary_certificate.createdBy.fullname }}
    </div>
    <script>
      $("document").ready(function () {
              var divContents = $("#dvContainer").html();
              var printWindow = window.open('', '', 'height=600,width=1000');
              printWindow.document.write(`<html><head><title></title> <style> *{
              font-size: 15; 
          }
          img { 
              width:70%;
              height:50px;
              position: relative;
              display: block;
              margin: auto;
              margin-bottom: 10px;
          }
          .title-container{
              font-size: 7px;
              font-weight: 300;
              text-align: center;
              line-height: 60%;
              text-align: center;

          }
          .texte-container{
              font-size: 5px; 
              text-align: left;
          }
          .head-text span{ 
              float: left;
              font-size: 15px;
              text-align: center;

          } </style>`);
              printWindow.document.write('</head><body>');
              printWindow.document.write(divContents);
              printWindow.document.write('</body></html>');
              printWindow.document.close();
              printWindow.print();
          });
        </script> 
        
  </body>
</html>
