{% extends 'base.html.twig' %}

{% block title %}
  WorkCertificate index
{% endblock %}

{% block body %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des demandes d'attestation
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th>
                Matricule
              </th>
              <th>
                Créé par
              </th>
              <th>
                Employée
              </th>
              <th>
                sexe
              </th>
              <th>
                Date de creation
              </th>
              <th>
                Nombre des copies 
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for work_certificate in work_certificates %}
              <tr>
                <td>
                  {{ work_certificate.worker.ref }}
                </td>
                <td>
                  {{ work_certificate.createdBy ? work_certificate.createdBy.fullname : '' }}
                </td>
                <td>
                  {{  work_certificate.worker ? work_certificate.worker.Nom  : '' }}
                  {{  work_certificate.worker ? work_certificate.worker.Prenom : '' }}
                </td>
                <td>
                  {{ work_certificate.worker.Genre == "H" ? "Homme" : "Femme" 
                  }}
                </td>
                <td>
                  {{ work_certificate.createdAt
                    ? work_certificate.createdAt|date('Y/m/d')
                    : '' 
                  }}
                </td>
                <td>
                  {{ 5 }}
                </td>
                <td>
                  <a href="{{
                    path(
                      'app_work_certificate_show',
                      {
                        id: work_certificate.id,
                        lang: work_certificate.lang
                      }
                    )
                    }}"
                    target='_blank'
                    >
                    {% if work_certificate.lang == 'ar' %}
                        اضهر 
                    {% else %}
                        afficher
                    {% endif %}        
                  </a>
                  {# <a href="{{
                    path(
                      'app_work_certificate_edit',
                      {
                        id: work_certificate.id
                      }
                    )
                    }}">
                    edit
                  </a> #}
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="3">
                  no records found
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {# <table class="table">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          CreatedAt
        </th>
        <th>
          actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for work_certificate in work_certificates %}
        <tr>
          <td>
            {{ work_certificate.id }}
          </td>
          <td>
            {{ work_certificate.createdAt
              ? work_certificate.createdAt|date('Y-m-d H:i:s')
              : '' }}
          </td>
          <td>
            <a href="{{
              path(
                'app_work_certificate_show',
                {
                  id: work_certificate.id
                }
              )
              }}">
              show
            </a>
            <a href="{{
              path(
                'app_work_certificate_edit',
                {
                  id: work_certificate.id
                }
              )
              }}">
              edit
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3">
            no records found
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table> #}

  <div>
  creer nouveaux attestation
  <button type="submit" ><a href="{{ path('app_work_certificate_new') }}">francai</a> </button>
  <button type="submit" ><a href="{{ path('app_work_certificate_new_ar') }}">arabic</a> </button>
  </div>
{% endblock %}
